<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Math</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="instructions-heading">
        <center><h1>Gestural Guidlines</h1></center>
        <center><h6>
            <span id="note">
                Face your palm towards the camera, use your right hand only.
            </span>
        </h6>
        </center>
    </div>
    <div class="image-container">
    <div class="images">
        <div>
            <img src="{{ url_for('static', filename='images/0.jpg') }}">
            <h6>Number : 0</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/1.jpg') }}">
            <h6>Number : 1</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/2.jpg') }}">
            <h6>Number : 2</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/3.jpg') }}">
            <h6>Number : 3</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/4.jpg') }}">
            <h6>Number : 4</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/5.jpg') }}">
            <h6>Number : 5</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/6.jpg') }}">
            <h6>Number : 6</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/7.jpg') }}">
            <h6>Number : 7</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/8.jpg') }}">
            <h6>Number : 8</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/9.jpg') }}">
            <h6>Number : 9</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/add.jpg') }}">
            <h6>Operator : Addition</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/subtraction.jpg') }}">
            <h6>Operator : Subtraction</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/division.jpg') }}">
            <h6>Operator : Division</h6>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/multiply.jpg') }}">
            <h6>Operator : Multiplication</h6>
        </div>
    </div>
    </div>
</body>